/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
    position: fixed;
    z-index: 1000;
}

.cursive {
    font-family: pacifico, cursive;
}

.icon-block img {
    width: 100%;
}

html, body {
    height: 100%;
}

.main-logo {
    width: 250px;
    height: 250px;
    fill: #2196f3;
}

.logo-text {
    margin-top: -30px;
    margin-bottom: -20px;
}

.nav-logo {
    height: 100%;
    padding: 5px;
    fill: #2196f3;
}

canvas {
    position: absolute;
    -webkit-filter: opacity(50%);
    width: 100%;
    height: 100%;
}

.left-side {
    fill: #9e9e9e;
}

.parallax.black img {
    -webkit-filter: opacity(30%);
}

.sponsorships img {
    width: 80%;
}

.section.faq .card-image {
    max-height: 300px;
    overflow-y: hidden;
}

.section.faq .card-image .card-title {
    padding-top: 100px;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
}

.sponsor-cta {
    margin-top: 100px;
    margin-bottom: 100px;
}

.partners {
    margin-top: 100px;
}

.sponsorships .partners img {
    height: 200px;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

#index-banner {
    height: 100%;
    min-height: 700px;
}

.parallax-container {
  line-height: 0;
  eight: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
    z-index: 2;
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {
  .row.valign-wrapper {
      display: block;
  }
  .sponsorships img {
      margin-top: 30px;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.table-of-contents a {
    color: #fff;
    line-height: inherit;
    height: 100%;
}

.table-of-contents li {
    padding: 0px;
}

.table-of-contents a.active {
    border-left: none;
    color: #fff;
    padding-left: 20px;
}

.table-of-contents a:hover {
    border-left: none;
    color: #fff;
    padding-left: 20px;
}


#nav-mobile.table-of-contents a {
    color: #2196f3;
    line-height: inherit;
    height: 100%;
}

#nav-mobile.table-of-contents li {
    padding: 0px;
}

#nav-mobile.table-of-contents a.active {
    border-left: none;
    color: #2196f3;
    padding-left: 15px;
}

#nav-mobile.table-of-contents a:hover {
    border-left: none;
    color: #2196f3;
    padding-left: 15px;
}